.initial {
    background:  url("./images/apartment_4.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

#navbar {
  background-color: transparent
}

.Profile {
  background:  url("./images/bw_buildings.jpg") no-repeat  center fixed;
  background-size: cover;
  height: 100%;
  overflow: scroll;
}

.NewP {
  background:  url("./images/white_b.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  overflow: scroll;
}

.Register {
  background:  url("./images/apartment_3.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.Message {
  background:  url("./images/apartments_2.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  overflow: scroll;
}


.PropertyList {
  background:  url("./images/apartment5.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  overflow: scroll;
}

.textfield2 {
        margin-left: 100%;
}

.textfield1 {
        margin-left: 50%;
}

.textfield3 {
        margin-left: 30%;
}

.textfield4 {
        margin-left: 70%;
}

.EditP {
  background:  url("./images/bwarchitecture.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  overflow: scroll;
}

.Detail {
  background:  url("./images/apartments.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  overflow: scroll;
}
